.appHeader{
    position:  fixed !important;
    width: 100% !important;
    left: 0px !important;
    top: 0px !important;
    background: #3AB44E !important;
    z-index: 999;
  }

  .buttons{
      color: white;
      float: right;
      margin-right: 3%;
  }

  .MuiButton-root{
    text-transform: capitalize !important;
  }